<p><%= flash[:alert] %></p>
<div class="row">
 <div class="col-md-4"></div>
<div class="col-md-4 text-center">
<h3 class="form-heading">게시글 수정하기</h3>

<form action="/comments/edit_complete" method="post" enctype="multipart/form-data">
  <input type="hidden" name="id" value="<%= @comment.id %>">
  <p style="color: #ff0000">
  <p>이름: <input type="text" name="comment_name" value"<%= @comment.name%>"></p>
  <p>제목: <input type="text" name="comment_subject" value="<%= @comment.subject%>"></p>
  <p>내용: <textarea name="comment_content"><%= @comment.content %></textarea></p>

  <p>+ 사진 업로드</p>
  <p><input type="file" name="image"></p>
  <input type="submit" value="수정하기">
</form>
</div><div class="col-md-4"></div></div>
