<div class="row">
    <div class="col-md-4">
        </div>
            <div class="col-md-4 text-center">
<h3>개인 정보 수정</h3>

<hr>
<p><%= flash[:alert] %></p>
<hr>

<form action="/users/edit_complete" method="post">
  <p>비밀번호 <input class="form-input" type="password" name="password" value="<%=@user.password%>"></p>
  <p>비밀번호 확인 <input class="form-input" type="password" name="retype_password" value="<%=@user.password%>"></p>
  <p>이름 <input class="form-input" type="name_type" name="name" value="<%=@user.name%>"></p>
  <p>생일(예:1993-03-22) <input class="form-input" type="birth_type" name="birth" value="<%=@user.birth%>"></p>
  <p>주소 <input class="form-input" type="addr_type" name="addr" value="<%=@user.addr%>"></p>
  <p>연락처 <input class="form-input" type="phone_type" name="phone" value="<%=@user.phone%>"></p>
  <p>이메일 <input class="form-input" type="email_type" name="email" value="<%=@user.email%>"></p>
  <input type="hidden" name="user_id" value="<%=@user.id%>">
  <input class="btn btn-lg btn-block" type="submit" value="확인">
  
</form>
</div>
<div class="col-md-4">
</div>
</div>
</div>

