<style>
.button_small {
 border:1x solid #333333; /* 테두리 정의 */
 /* border: 1px dashed #ff008; /* 테두리 점선 */
 background-Color:#000000; /* 백그라운드 정의 */
 font:12px 굴림; /* 폰트 정의 */
 font-weight:bold; /* 폰트 굵기 */
 color:#FFFFFF; /* 폰트 색깔 */
 width:100px;height:40px; /* 버튼 크기 */
 text-align:center;
 vertical-align:middle;
 display:table-cell;
}</style>


<p><%= flash[:alert] %></p>

<p><%=params[:chk_info]%></p>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
   $(document).ready(function(){
             //   $('input[type="checkbox"]').click(function(){
                   
                  $('#use_point_amount').change(function(){
                   var tmp1=<%=@total%>
                   var tmp0="총 결제금액: "
                        if($('input[type="checkbox"]').prop("checked")==true){
                            var tmp2=$('#use_point_amount').val();
                            var tmp3=tmp1-tmp2;
                           // alert(tmp1+'/'+tmp2+'/'+tmp3);
                        }else{
                            tmp3=tmp1;
                        }
                        tmp0=tmp0+tmp3+"원"
                        $('#pu').text(tmp0);
                    });
           });

  </script>

<script type="text/javascript">
    function buybuy(){
        var f=document.write_form;
        if(f.use_point.checked=='1')
        {
            if(parseInt(f.use_point_amount.value)><%=@user.point%>)
                alert("사용가능한 포인트를 초과하셨습니다");
            else if(!f.toname.value) alert("받는 분의 이름을 입력해주세요");
            else if(!f.tophone.value) alert("받는 분의 연락처를 입력해주세요");
            else if(!f.toaddr.value) alert("받는 분의 주소를 입력해주세요");
            else if(!f.fromname.value) alert("보내는 분의 이름을 입력해주세요");
            else if(!f.fromphone.value) alert("보내는 분의 연락처를 입력해주세요");
            else f.submit();
        }
        else if(!f.toname.value) alert("받는 분의 이름을 입력해주세요");
        else if(!f.tophone.value) alert("받는 분의 연락처를 입력해주세요");
        else if(!f.toaddr.value) alert("받는 분의 주소를 입력해주세요");
        else if(!f.fromname.value) alert("보내는 분의 이름을 입력해주세요");
        else if(!f.fromphone.value) alert("보내는 분의 연락처를 입력해주세요");
        else{
            f.submit();
        }
    }
</script>

<div class align="center">
<div class="button_small" align="center">구매</div>
</div>
<br>

<form name="write_form" action="/buys/write_complete_directly" method="post">

<table cellspacing="1" text-align=center align="center" width=800 border=1 rules="none" frame="hsides" summary="번호 사진 제품명 수량 적립 가격 배송비 취소">
 <COLGROUP>
 <COL width="20%">
 <COL width="10%">
 <COL width="10%">
 <COL width="10%">
 <COL width="10%"></COLGROUP>

  <TR>
    <td><p align=center>ITEM</p>
    </td>
    <td><p align=center>PRICE</p>
    </td>
    <td><p align=center>POINT</p>
    </td> 
    <td><p align=center>QTY</p>
    </td>
    <td><p align=center>OPTION</p>
    </td>
  </TR>

<% @buy.line_items.each do |item| %>
<input type="hidden" name="title" value="<%=item.post.title%>">
<input type="hidden" name="image" value="<%=item.image%>">
<input type="hidden" name="option" value="<%=item.options%>">
<input type="hidden" name="post_id" value="<%=item.post.id%>">
<input type="hidden" name="qty" value="<%=item.qty%>">
<input type="hidden" name="price" value="<%=item.price%>">
<input type="hidden" name="point" value="<%=item.point%>">

 <td width="20%"><img src="<%= item.image %>" style="max-width:100px;height:auto;"><%=item.post.title %></td>
    <%b=item.price.to_s.split('')%> <%c=""%>   <%i=0%>
   <%for d in b.reverse%>    <%if i%3==0&&i!=0%> <%c=','+c%>  <%end%>  <%c=d+c%>   <%i=i+1%>   <%end%>
   <td width="10%" align="center"><%=c=%>원</td>
   <%b=item.point.to_s.split('')%>    <%c=""%>    <%i=0%>    <%for d in b.reverse%>       <%if i%3==0&&i!=0%>       <%c=','+c%>
 <%end%>  <%c=d+c%>  <%i=i+1%>
<%end%>
<td width="10%" align="center"><%=c=%></td>
<td width="10%" align="center"><%=item.qty%></td>
<td width="10%" align="center"><%=item.options%></td>

</tr>
 <%end%>
</table>
  <%b=@total.to_s.split('')%>
          <%c=""%>              <%i=0%>               <%for d in b.reverse%>               <%if i%3==0&&i!=0%>              <%c=','+c%>      <%end%>
               <%c=d+c%>                <%i=i+1%>                <%end%>
   <div class="col-md-8"></div>
   <p>총 금액: <%=c=%></p> 
<hr>
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-8">
<h3>결제수단선택</h3>
<p>결제방식: 사이버머니</p>

<p>  <input type="checkbox" name="use_point">포인트 사용
<input type="text" id="use_point_amount" name="use_point_amount_2" value="0">
  현재 포인트: <%=@user.point%></p>
  <p>상품합계금액: <%=c=%>원</p>
  <p>배송료: 0원 </p>
  <p id="pu">총 결제금액: <%=c=%>원</p>

  <hr>
  <h3>주문자정보</h3>
  <p>주문하시는분: <input class="form-input" type="text" name="fromname" value="<%=@user.name%>"></p>
  <p>전화번호: <input class="form-input" type="text" name="fromphone" value="<%=@user.phone%>"> </p>
  <hr>
  <h3>배송지정보</h3>
  <p>받으시는 분 <input type="text" name="toname" placeholder="받는이의 이름을 입력하세요."></p>
  <p>연락처 <input type="text" name="tophone" placeholder="연락처를 입력하세요."></p>
  <p>주소 <input type="text" name="toaddr" placeholder="주소를 입력하세요"></p>
  <p>배송메모 <input type="textarea" name="memo" placeholder="배송 메모를 입력하세요"></p>
 <input name="buy_submit" class="button_small" type="button" value="결제하기" onclick="buybuy();">
</div>
<div class="col-md-2"></div>
</div>
</form>

