<% @posts.reverse.each do |post| %>
<div class="panel"><div class="row panel-body">
<div class="col-md-3 text-right">
<a href="/products/show/<%= post.id %>"><img src="<%= post.image_url(:thumb) %>"height="200" width="150"></a></div>

<div class="col-md-3">
<span class="label label-warning"><%= post.category %></span>
<a href="/products/show/<%= post.id %>"><%= post.title %></a> [<%= post.reviews.count %>]
<hr><p><%= post.content =%></p>
</div>
<br>

</div>
</div>
<% end %>
