<% @posts.reverse.each do |post| %>
		<div class="col-md-3 text-center">
			<a href="/products/show/<%= post.id %>"><img src="<%= post.image_url(:thumb) %>" height="200" width="200" style="margin:20px 0px" border="0"></a>
			<p><span class="label label-warning"><%= post.category %></span>
			<a href="/products/show/<%= post.id %>"><%= post.title %></a> [<%= post.reviews.count %>]</p>
			<hr>


<p><%= post.content =%></p>	
<%b=post.price.to_s.split('')%>
           <%c=""%>
           <%i=0%>
         <%for d in b.reverse%>
           <%if i%3==0&&i!=0%>
             <%c=','+c%>
           <%end%>
           <%c=d+c%>
           <%i=i+1%>
         <%end%>
<p><%=c%>원</p>
		</div>
<% end %>
