
<script type="text/javascript">
  function addtocart(){
  var f=document.formName;
  if (f.option_menu.value=="")
      alert("옵션을 선택하세요");
  else{
      var tok=f.option_menu.value.split('|');
      if(parseInt(tok[1])<parseInt(f.amount.value))
              alert("재고가 부족합니다");
      else{
         f.action="/line_items/create"
         f.submit();
      }
   }
  }
 
   function buy(){
       var f=document.formName;
       if(f.option_menu.value=="")
           alert("옵션을 선택하세요");
       else{
           var tok=f.option_menu.value.split('|');
           if(parseInt(tok[1])<parseInt(f.amount.value))
               alert("재고가 부족합니다");
           else{
                f.action="/buys/write_directly"
                f.submit();
           }
       }
    }
    </script>

    <form name="formName" method="post">
   <div class="row">
    <div class="col-md-1">
        </div>
            <div class="col-md-5 text-right">
<img src="<%= @post.image_url(:medium) %>">
</div>
<div class="col-md-4">

<h3><%= @post.title %></h3>
    <p><%= @post.content %></p>
    <hr>

	<div class="table-opt">
	 <table summary="판매 가격, 적립금, 주문 수량, 옵션">
	 <tbody>	
	  <tr >
	     <th scope="row" width="100dp" height="30dp">price</th>
       <td>    <%b=@post.price.to_s.split('')%>
           <%c=""%>
           <%i=0%>
         <%for d in b.reverse%>
           <%if i%3==0&&i!=0%>
             <%c=','+c%>
           <%end%>
           <%c=d+c%>
           <%i=i+1%>
         <%end%>
         <%=c=%>원 
       
 	  </tr>
	  <tr>
	     <th scope="row" height="30dp">point</th>
	     <td>
            <%b=@post.point.to_s.split('')%>
            <%c=""%>
            <%i=0%>
            <%for d in b.reverse%>
               <%if i%3==0&&i!=0%>
               <%c=','+c%>
               <%end%>
               <%c=d+c%>
            <%i=i+1%>
            <%end%>
            <%=c=%>
         
         </td>
	  </tr>
          <tr>
             <th scope="row" height="30dp">option</th>
	     <td>
            <select name="option_menu">
            <option value="">--옵션선택--</option>
            <% for a in @post.options.split("\n")%>
            <option value="<%=a%>"><%=a=%>개 남음</option>
            <%end%>
            </select>
            
           
  	     </td>
          </tr>
	  <tr>
                <th scope="row" height="30dp">qty</th>
		

<td><span style="font-size:12px;color:#555555;"><span id='NewProductQuantityDummy' ><span class="quantity"><input id="quantity" name="amount" style="width: 30px;height: 18px;border: 1px solid #BCBCBC;" value="1" type="text"  /></span></span></span></td>
		
          </tr>

	  <tr>
		<th scope="row">delivery</th>
		<td> 국내, 해외 배송 가능</td>
	  </tr>

	 </tbody>
	</table>
	</div><!-- .table-opt -->


	<% if @user == 1 %>
        <p><a href="/products/edit/<%= @post.id %>">수정</a> | <a href="/products/delete_complete/<%= @post.id %>">삭제</a></p>
<% end %>


<hr>

<input type="hidden" name="bb" value=<%=@post.id%>>
<%if @user!=1%>
<p><button type="button" class="btn btn-large btn-block btn-inverse" onclick="addtocart();">ADD TO CART</button>
</p><button type="button" class="btn btn-large btn-block btn-default" onclick="buy();">BUY</button>

<%end%>



</form>
</div><div class="col-md-2">
</div>



</div>

<hr>
<div align="center"><p><img src="<%=@post.image2_url(:sub)%>"alt=""></p>
</div>
<div class="col-md-12"><hr></div>
<div class="col-md-3"></div>
<div class="col-md-9">
<h3>후기</h3>
<% @post.reviews.each do |review|%>
<p><strong><%=User.find(review.user_id).username%></strong> <%=review.content %>
<% if review.user_id == @user %>
| <a href="/products/delete_review_complete/<%=review.id %>">삭제</a>
<%end%>
</p>
<%end%>

<form action="/products/write_review_complete" method="post">
  <p>Review:<input type="text" name="review_content" placehodler="댓글 내용을 입력하세요."> <input type="submit" value="달기"></p>
  <input type="hidden" name="post_id" value="<%=@post.id%>">
</form>

</div>
<div class="col-md-12"><hr></div>
<div class="col-md-3"></div>
<div class="col-md-9">

<!--
<h3>Q & A</h3>
<table>
  <thead>
    <tr>
      <th>번호</th>
<th>제목</th>   
<th>문의자</th>
<th>등록일</th>
<th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<%count=@post.qnas.count%>
    <% @post.qnas.reverse.each do |qna| %>
	<tr>
        <td><%= count%><%count=count-1%></td>
	    <td><%= link_to qna.title, qna %>[<%=qna.qcomments.count%>]</td>
        <td><%= qna.name %></td>
        <td><%=qna.created_at%></td>
	<% if @u%>
        <% if qna.name == @u.username %>
        	<td><%= link_to '수정', edit_qna_path(qna) %></td>
		<% end %>
		<% if qna.name == @u.username || @user==1%>
        	<td><%= link_to '삭제', qna, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
		<% end %>
	<% end %>
	</tr>
    <%end%>
  </tbody>
</table>

<br>
<% if @user %>
<%= link_to '글쓰기', new_qna_path(post_id:@post.id) %>
<% end %>
--!>
</div>        
</div>


