<STYLE TYPE="text/css">
A:hover {color:blue; text-decoration: none; background-color:white; };
</STYLE>
<div class="container">
	<div style="text-align:right">
	<br>
	<%if session[:user_id].nil? %>
		<p><a href="/users/signup">회원가입</a> | <a href="/users/login">로그인</a></p>
	<%else%>
	    <% if session[:user_id]!=1 %>
		<p><%hh=User.find(session[:user_id])%><b><%=hh.name%></b>님 환영합니다! | <%=hh.point%> point | <%=hh.money%> 원</p>

	<p><a href="/users/logout_complete"> <b><font color=red>로그아웃</font></a></b>
 | <a href="/users/edit">정보수정</a>
 | <a href="/carts/<%=session[:user_id]%>/show">장바구니</a>
 | <a href="/users/<%=session[:user_id]%>/buy_list">구매내역</a></p>
	    <%else%>
     	<p><a href="/users/logout_complete"> <b><font color=red>로그아웃</font></a></b> | <a href="/products/write">상품추가</a> | <a href="/admin/show">유저 관리</a></p>
	    <% end %>
	<%end%>
</div>
<br><br>
  <div class="image" align="center">
	<a href="/"  border="0"><img src="/uploads/draw1.png" width="auto" height="200px" alt=""/></a>
  </div>
<br><br>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/top">상의</a></li>
      <li><a href="/bottom">하의</a></li>
      <li><a href="/dress">드레스</a></li>
      <li><a href="/outer">아우터</a></li>
      <li><a href="/accessory">악세사리</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/comments/show">게시판</a></li>
    </ul>
 </div>
</nav>

 
